.footer {
    background-color: #333;
    padding: 1rem 0;
    text-align: center;
}

.footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.footer a:hover {
    color: #ddd;
}
